<template lang="pug">
div
  h1.title Your Decks
  router-view
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component
export default class DeckView extends Vue {}
</script>
