<template lang="pug">
div
  router-view
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component
export default class RoomView extends Vue {}
</script>
