<template lang="pug">
div
  wr-navbar
  section.section
    div.container
      div.columns.is-centered
        div.column.is-two-fifths
          wr-signin-widget
  wr-footer
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import WrNavbar from '../components/WrNavbar.vue';
import WrFooter from '../components/WrFooter.vue';
import WrSigninWidget from '../widgets/WrSigninWidget.vue';

@Component({
  components: {
    WrNavbar,
    WrSigninWidget,
    WrFooter,
  },
})
export default class SigninView extends Vue {}
</script>
