<template lang="pug">
apollo-query(
  :query="require('@/graphql/Decks.gql')"
)
  apollo-subscribe-to-more(
    :document="require('@/graphql/DeckUpdates.gql')"
    :updateQuery="updateDecks"
  )
  template(slot-scope="{ result: { loading, error, data } }")
      div.columns.is-multiline
        div.column.is-full.has-background-light
          nav.level
            div.level-left
              div.level-item
                wr-create-deck-widget
            div.level-right
              div.level-item
                div.field
                  div.control
                    input.input.is-expanded(type="text" placeholder="Find deck with name...")
        div.column(v-if="loading")
          p Loading...
        template(v-if="data && data.decks")
          div.column(v-for="deck of data.decks")
            p {{ deck.name }}
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import WrCreateDeckWidget from '../widgets/WrCreateDeckWidget.vue';

@Component({
  components: {
    WrCreateDeckWidget,
  },
})
export default class WrDeckList extends Vue {
  private updateDecks(previousResult: any, { subscriptionData }: any) {
    if (!subscriptionData.data
      || !subscriptionData.data.deckUpdates
      || !subscriptionData.data.deckUpdates.mutation) {
      return previousResult;
    }
    const decks = previousResult.decks;
    const newResult = {
      decks,
    };
    const update = subscriptionData.data.deckUpdates;
    switch (update.mutation) {
      case 'CREATED':
        decks.push(update.new);
        break;
      case 'UPDATED':
        const index = decks.findIndex((o: any) => o.id === update.new.id);
        if (index >= 0) {
          Vue.set(decks, index, update.new);
        }
        break;
      case 'DELETED':
        newResult.decks = decks.filter((o: any) => o.id !== update.old.id);
        break;
    }
    return newResult;
  }
}
</script>
