<template lang="pug">
aside.menu
  p.menu-label General
  ul.menu-list
    li
      router-link(to="/dashboard/deck") Decks
    li
      router-link(to="/dashboard/room") Rooms
  p.menu-label Account
  ul.menu-list
    li
      a Settings
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class WrMenu extends Vue {}
</script>