<template lang="pug">
nav.navbar
  div.navbar-brand
    router-link.is-size-4.brand-type.navbar-item(
      to="/",
      active-class="router-link-active",
    ) WriteRite
    a.navbar-burger(:class="{ 'is-active': mobileActive }", @click="toggleBurger")
      span
      span
      span
  div.navbar-menu(:class="{ 'is-active': mobileActive }")
    div.navbar-start
      router-link.navbar-item(v-if="isSignedIn",to="/dashboard") Dashboard
      slot
    div.navbar-end
      router-link.navbar-item(v-if="!isSignedIn",to="/signin") Sign In
      template(v-else)
        a.navbar-item Account Settings
        a.navbar-item(@click="signout") Sign Out
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import store from '../store';
import router from '../router';

@Component({
  computed: {
    currentUser() {
      return store.state.currentUser;
    },
  },
})
export default class WrNavbar extends Vue {
  private mobileActive = false;
  private get isSignedIn() {
    return store.state.currentUser;
  }

  private async signout() {
    await store.dispatch('signout');
    router.push('/');
  }

  private toggleBurger() {
    this.mobileActive = !this.mobileActive;
  }
}

</script>