<template lang="pug"> 
apollo-query(:query="require('@/graphql/Rooms.gql')")
  apollo-subscribe-to-more(
    :document="require('@/graphql/RoomUpdates.gql')"
    :updateQuery="updateRooms"
  )
  template(slot-scope="{ result: { loading, error, data } }")
    div.columns.is-multiline
      div.column.is-full
        h1.title Your Rooms
      div.column.is-full.has-background-light
        nav.level
          div.level-left
            div.level-item
              wr-create-room-widget
          div.level-right
            div.level-item
              div.field
                div.control
                  input.input.is-expanded(type="text" placeholder="Find room with name...")
      div.column(v-if="loading")
        p Loading...
      template(v-if="data && data.rooms")
        div.column(v-for="room of data.rooms")
          p
            router-link(:to="'room/' + room.id") {{ room.name }}
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import WrCreateRoomWidget from '../widgets/WrCreateRoomWidget.vue';

@Component({
  components: {
    WrCreateRoomWidget,
  },
})
export default class WrRoomList extends Vue {
  private updateRooms(previousResult: any, { subscriptionData }: any) {
    if (!subscriptionData.data
      || !subscriptionData.data.roomUpdates
      || !subscriptionData.data.roomUpdates.mutation) {
      return previousResult;
    }
    const rooms = previousResult.rooms;
    const newResult = {
      rooms,
    };
    const update = subscriptionData.data.roomUpdates;
    switch (update.mutation) {
      case 'CREATED':
        rooms.push(update.new);
        break;
      case 'UPDATED':
        const index = rooms.findIndex((o: any) => o.id === update.new.id);
        if (index >= 0) {
          Vue.set(rooms, index, update.new);
        }
        break;
      case 'DELETED':
        newResult.rooms = rooms.filter((o: any) => o.id !== update.old.id);
        break;
    }
    return newResult;
  }
}
</script>
