<template lang="pug">
div.columns
  div.column.is-full
    h1.title {{ $route.params.id }}
  div.column.is-full#chat-window
    
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({
})
export default class WrRoomDetail extends Vue {
  private inputBar = '';
  private response = '';

  private submit(mutate: any) {
    mutate();
    this.inputBar = '';
  }
  private async sendDone(res: any) {
    this.response = res;
  }
}
</script>
