.fade
  &-enter-active, &-leave-active
    transition: opacity 0.5s
  &-enter, &-leave-to
    opacity: 0
.slide-height
  &-enter-active, &-leave-active
    transition: opacity 0.1s
    transition: height 0.5s
  &-enter, &-leave-to
    height: 0
    opacity: 0