<template lang="pug">
  apollo-mutation(
    :mutation="require('@/graphql/RoomCreate.gql')",
    :variables="{ name: form.name }",
    @done="handleResponse"
  )
    template(slot-scope="{ mutate, loading, error }")
      div
        div.field(v-if="!showForm")
          div.control
            button.button.is-primary(@click="toggleShowForm") New Room
        div(v-if="showForm")
          div.is-hidden-tablet
            div.field
              div.control
                input.input(
                  type="text",
                  placeholder="Name (optional)",
                  v-model.trim="form.name"
                )
            div.field
              div.control.is-expanded
                div.select.is-fullwidth
                  select(required, v-model="form.deck")
                    option(disabled, value="") Deck
                    option MyDeck
            div.field.is-grouped.is-grouped-centered
              div.control
                button.button(@click="toggleShowForm") Cancel
              div.control
                button.button.is-primary Create
            div.is-divider
          div.field.has-addons.is-hidden-mobile
            div.control
              button.button(@click="toggleShowForm") Cancel
            div.control
              input.input(
                type="text",
                placeholder="Name (optional)",
                v-model.trim="form.name"
              )
            div.control
              div.select
                select(v-model="form.deck", name="deck", v-validate)
                  option(disabled, value="") Deck
                  option MyDeck
            div.control
              button.button.is-primary(@click="mutate") Create
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class WrCreateRoomWidget extends Vue {
  private showForm = false;
  private form = {
    name: '',
    deck: '',
  };

  private toggleShowForm() {
    this.showForm = !this.showForm;
  }

  private handleResponse(res: any) {
    return null;
  }
}
</script>
