<template lang="pug">
  apollo-mutation(
    :mutation="require('@/graphql/DeckCreate.gql')",
    :variables="{ name: form.name }",
    @done="handleResponse"
  )
    template(slot-scope="{ mutate, loading, error }")
      div
        div.field.has-addons
          div.control
            input.input(
              type="text",
              placeholder="Name (optional)",
              v-model.trim="form.name"
            )
          div.control
            button.button.is-primary(@click="mutate") New Deck
</template>

<script lang="ts">
import Vue from 'vue';
import { VueApolloComponentOption } from 'vue-apollo/types/options';
import { Component } from 'vue-property-decorator';
import gql from 'graphql-tag';

import store from '../store';

@Component
export default class WrDeckCreate extends Vue {
  private form = {
    name: '',
  };

  private handleResponse(res: any) {
    return null;
  }
}
</script>
