<template lang="pug">
apollo-mutation(
  :mutation="require('@/graphql/Signin.gql')"
  :variables="signinVariables"
  @done="signinDone"
)
  form.box(
    @submit.prevent="localSignin(mutate)",
    slot-scope="{ mutate, loading, error }"
  )
    div.field
      button.button.is-google.is-fullwidth(
        type="button",
        @click="googleSignin(mutate)"
      ) Sign in with Google
    div.field
      button.button.is-facebook.is-fullwidth(
        type="button",
        @click="facebookSignin(mutate)"
      ) Sign in with Facebook
    div.is-divider(data-content="OR")
    div.box.has-background-light.wr-local-login
      div.field
        div.control
          input.input(
            v-model.trim="local.email",
            name="email",
            type="email",
            placeholder="Your email"
            :class="{'is-danger': showEmailErrors }",
            @blur="blurred.email = true",
            required,
            v-validate
          )
        transition(name="fade")
          p.help.is-danger(v-show="showEmailErrors") {{ errors.first('email') }}
      div.field(v-show="localIsLogin")
        div.control
          input.input(
            v-model="local.password",
            v-validate,
            key="passwordLogin"
            name="login password",
            placeholder="Password",
            type="password",
            :class="{'is-danger': showLoginPasswordErrors }",
            @blur="blurred.password = true",
            required,
          )
        transition(name="fade")
          p.help.is-danger(v-show="showLoginPasswordErrors") {{ errors.first('login password') }}
      div.field(v-show="!localIsLogin")
        div.control
          input.input(
            v-model="local.password",
            v-validate="'required|confirmed:confirm-password'",
            key="passwordSignin",
            name="password",
            type="password",
            placeholder="Password",
            :class="{'is-danger': showSigninPasswordErrors }",
            @blur="blurred.password = true",
            required,
          )
      div.field(v-show="!localIsLogin")
        div.control
          input.input(
            v-model="local.confirmPassword",
            v-validate="'required'",
            name="confirm-password",
            ref="confirm-password"
            type="password",
            placeholder="Confirm Password",
            :class="{'is-danger': showSigninPasswordErrors }",
            @blur="blurred.confirmPassword = true",
          )
        transition(name="fade")
          p.help.is-danger(v-show="showSigninPasswordErrors") {{ errors.first('password') }}
    div.columns
      div.column
        div.field(v-show="!localIsLogin")
          div.control.has-text-centered
            div.is-inline-block#g-recaptcha
          transition(name="fade")
            p.help.is-danger.has-text-centered(v-if="!backendValidationFail") {{ backendValidationFail }}
    div.columns
      div.column
        button.button.is-fullwidth.is-primary(
          type="button",
          @click="localSignin(mutate)"
        )
          span(v-show="!localIsLogin") Sign in with Email and Password
          span(v-show="localIsLogin") Log In
    p(v-show="!localIsLogin") Existing user? <a @click="toggleLogin">Login</a>
    p(v-show="localIsLogin") New user? <a @click="toggleSignin">Sign Up</a>
</template>

<script lang="ts">
// tslint:disable-next-line: no-reference
/// <reference path="../shims.d.ts" />
// tslint:disable-next-line: no-reference
/// <reference path="../typings.d.ts" />

import { Component, Prop, Vue } from 'vue-property-decorator';

import store from '../store';
import router from '../router';

@Component
export default class WrSignin extends Vue {
  // ui state
  private showLocal = false;
  private localIsLogin = false;
  private blurred = {
    email: false,
    password: false,
    confirmPassword: false,
    recaptcha: false,
  };
  private backendValidationFail = '';

  // business logic state
  private local = {
    email: '',
    password: '',
    confirmPassword: '',
    recaptchaToken: '',
  };
  private signinVariables = {
    email: '',
    token: '',
    authorizer: '',
    identifier: '',
  };

  // ui methods

  private mounted() {
    grecaptchaDeferred.then((grecaptcha) => {
      grecaptcha.render('g-recaptcha', {
        sitekey: '6Lc2V3IUAAAAAFP-EiNvhlN533lN7F8TqJCEJmqX',
        callback: this.recaptchaCallback,
      });
    });
  }

  private toggleSignin() {
    if (this.showLocal && !this.localIsLogin) {
      this.showLocal = false;
    }
    this.showLocal = true;
    this.localIsLogin = false;
  }

  private toggleLogin() {
    if (this.showLocal && this.localIsLogin) {
      this.showLocal = false;
      this.localIsLogin = false;
    }
    this.showLocal = true;
    this.localIsLogin = true;
  }

  private get showEmailErrors() {
    return this.blurred.email && this.errors.first('email');
  }

  private get showSigninPasswordErrors() {
    return this.blurred.password && this.blurred.confirmPassword && this.errors.first('password');
  }

  private get showLoginPasswordErrors() {
    return this.blurred.password && this.errors.first('login password');
  }

  private handleUnverified() {
    this.blurred.email = true;
    this.blurred.password = true;
    this.blurred.confirmPassword = true;
    this.blurred.recaptcha = true;
  }

  // authentication handler methods

  private recaptchaCallback(gRecaptchaResponse: string) {
    this.$set(this.local, 'recaptchaToken', gRecaptchaResponse || '');
  }

  // 3rd-party authentication handling methods

  private localSignin(mutate: any) {
    if (this.localIsLogin) {
      if (this.errors.first('email') || this.errors.first('local password')) {
        return this.handleUnverified();
      }
    } else if (this.errors.first('password') || !this.local.recaptchaToken) {
      return this.handleUnverified();
    }
    this.handleSignin(
      this.local.email,
      this.local.recaptchaToken,
      'LOCAL',
      this.local.password,
      mutate,
    );
  }

  private async googleSignin(mutate: any) {
    const googleAuth = (await gapiDeferred).auth2.getAuthInstance();
    googleAuth.signIn().then((googleUser: any) => {
      this.handleSignin(
        googleUser.getBasicProfile().getEmail(),
        googleUser.getAuthResponse().id_token,
        'GOOGLE',
        googleUser.getId(),
        mutate,
      );
    });
  }

  private async facebookSignin(mutate: any) {
    (await FBDeferred).login(async (loginResponse: any) => {
      const { authResponse } = loginResponse;
      if (authResponse) {
        (await FBDeferred).api('/me', {
          fields: 'name,email',
        }, (apiResponse: any) => {
          this.handleSignin(
            apiResponse.email,
            authResponse.accessToken,
            'FACEBOOK',
            authResponse.userID,
            mutate,
          );
        });
      }
    }, {
      scope: 'public_profile,email',
    });
  }

  // WrServer signin methods

  private handleSignin(email: string, token: string, authorizer: string, identifier: string, mutate: () => any) {
    this.$set(this.signinVariables, 'email', email);
    this.$set(this.signinVariables, 'token', token);
    this.$set(this.signinVariables, 'authorizer', authorizer);
    this.$set(this.signinVariables, 'identifier', identifier);
    mutate();
  }

  private async signinDone(res: any) {
    if (res.data.signin && res.data.signin.user.id) {
      this.backendValidationFail = '';
      await store.dispatch('signin', res.data.signin);
      router.push('/dashboard');
    } else {
      // TODO: propagate error from server instead
      if (['GOOGLE', 'FACEBOOK'].includes(this.signinVariables.identifier) || !this.localIsLogin) {
        this.backendValidationFail = 'Email has been taken.';
      } else {
        this.backendValidationFail = 'Incorrect username or password.';
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.wr-local-login
  border-radius: 4px;
</style>
